.footer{
    &__social{
        ul{
            display: flex;
            align-items: center;
            border-top: 1px solid rgb(117, 117, 117, .2);
            padding: 5rem 0;

            li{
                margin-right: 2rem;
                padding: 1.5rem .6rem;

                &:hover{
                    border-radius: 5rem;
                    background: rgb(117, 117, 117, .3);
                }

                a{
                    color: $clr-light;
                    background: $clr-dark;
                    padding: 1rem;
                    border-radius: 5rem;
                    font-size: 1.5rem;
                }

                &:nth-child(2){
                    a{
                        padding: 1rem 1.3rem;
                    }
                }
            }
        }
    }

    &__nav{
        ul{
            li{
                margin-bottom: 2.5rem;

                a{
                    color: #1F1F1E;
                    font-size: 1.5rem;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }

        p{
            font-size: 1.4rem;
            color: $clr-gray;
        }
    }

    @include mediaQuery($break-lg){
        &__nav{
            ul{
                display: flex;
                align-items: center;

                li{
                    &:not(:first-child){
                        border-left: 2px solid $clr-gray;

                        a{
                            padding: 0 2rem;
                        }
                    }

                    a{
                        padding-right: 2rem;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}