.links{
    padding: 5rem 0;

    &__wrapper{
        border-top: 1px solid $clr-d-gray;
    }

    &__item{
        margin-bottom: 5rem;
        max-width: 150rem;
        margin: 0 auto;
        padding: 2rem 1.5rem;

        h4{
            color: $clr-d-gray;
            display: flex;
            align-items: center;
            justify-content: space-between;

            i{
                transition: .5s ease;

                &.open{
                    transform: rotate(180deg);
                    transition: .5s ease;
                }
            }
        }

        ul{
            max-height: 0rem;
            overflow: hidden;
            transition: .5s ease;

            &.open{
                max-height: 50rem;
                transition: .5s ease;
            }
            li{
                padding: 1rem 0;

                &:hover{
                    cursor: pointer;
                    a{
                        color: $clr-green;
                    }
                }
                a{
                    color: $clr-dark;
                    font-size: 1.5rem;
                }
            }
        }
    }

    // @include mediaQuery($break-lg){
    //     &__wrapper{
    //         display: grid;
    //         grid-template-columns: .5fr 2.5fr 1.5fr;
    //     }

    //     &__drop{
    //         margin: 0;
    //         display: flex;
    //         align-items: start;
    //         gap: 10rem;

    //         &__item{
    //             &:nth-child(2){
    //                 margin: 0;
    //             }

    //             h4{
    //                 pointer-events: none;

    //                 i{
    //                     display: none;
    //                 }
    //             }

    //             ul{
    //                 max-height: 25rem;
    //                 margin: 1rem 0;
    //             }
    //         }
    //     }

    //     &__social{
    //         ul{
    //             justify-content: flex-end;
    //         }
    //     }
    // }
}